<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="consumerFactory" class="com.dianping.swallow.consumer.impl.ConsumerFactoryImpl" factory-method="getInstance" />

	<bean id="consumerConfig" class="com.dianping.swallow.consumer.ConsumerConfig" >
	<property name="threadPoolSize">
			<value>10</value>
		</property>
	</bean>

	<bean id="dest" class="com.dianping.swallow.common.message.Destination"
		factory-method="topic">
		<constructor-arg>
			<value>xx</value>
		</constructor-arg>
	</bean>
	<bean id="messageListener"
		class="com.dianping.swallow.example.consumer.spring.listener.MessageListenerImpl" />


	<bean id="consumerClient" factory-bean="consumerFactory"
		factory-method="createConsumer">
		<constructor-arg>
			<ref bean="dest" />
		</constructor-arg>
		<constructor-arg>
			<value>xx</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="consumerConfig" />
		</constructor-arg>
		<property name="listener">
			<ref local="messageListener" />
		</property>
	</bean>
	<bean id="nonDurableConsumerClient" factory-bean="consumerFactory"
		factory-method="createConsumer">
		<constructor-arg>
			<ref bean="dest" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="consumerConfig" />
		</constructor-arg>
		<property name="listener">
			<ref local="messageListener" />
		</property>
	</bean>

</beans>
