<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="producerFactory" class="com.dianping.swallow.producer.impl.ProducerFactoryImpl"
		factory-method="getInstance" />


	<bean id="producerClient" factory-bean="producerFactory"
		factory-method="createProducer">
		<constructor-arg>
			<ref bean="destination" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="producerConfig" />
		</constructor-arg>
	</bean>

	<bean id="destination" class="com.dianping.swallow.common.message.Destination"
		factory-method="topic">
		<constructor-arg value="songtong" />
	</bean>

	<bean id="producerConfig" class="com.dianping.swallow.producer.ProducerConfig">
		<property name="mode" value="SYNC_MODE" />
		<property name="retryTimes" value="5" />
		<property name="zipped" value="false" />
		<property name="threadPoolSize" value="5" />
		<property name="sendMsgLeftLastSession" value="false" />
	</bean>

</beans>
