<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<bean id="consumerClient"
		class="com.dianping.swallow.consumer.impl.ConsumerClientImpl">
		<constructor-arg>
			<value>laoma</value>
		</constructor-arg>
		<constructor-arg>
			<value>xx</value> 
		</constructor-arg>
		<property name="threadCount" value="5" />
		<property name="consumerType" value="AT_LEAST" />
		<!--  property name="neededMessageType" >
		<set>  
                <value>zhangyu</value>
                <value>laoma</value>
            </set>  
        </property>  -->
	</bean>

	<bean id="nonDurableConsumerClient" class="com.dianping.swallow.consumer.impl.ConsumerClientImpl">
        <constructor-arg>
            <value>xx</value>
        </constructor-arg>
     </bean>
</beans>
