<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="producerFactory" class="com.dianping.swallow.producer.spring.ProducerFactoryImplSpring"
		init-method="init">
		<property name="pigeonConfigure" ref="producerFactoryConfig" />
	</bean>

	<bean id="producerFactoryConfig"
		class="com.dianping.swallow.producer.spring.SwallowPigeonConfigurationSpring" init-method="init">
		<property name="serviceName" value="http://service.dianping.com/swallowService/producerService_1.0.0" />
		<property name="serialize" value="hessian" />
		<property name="timeout" value="5000" />
		<property name="useLion" value="false" />
		<property name="hosts" value="127.0.0.1:4000" />
		<property name="weights" value="1" />
	</bean>

	<bean id="producerClient" factory-bean="producerFactory"
		factory-method="createProducer">
		<constructor-arg>
			<ref bean="destination" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="producerConfig" />
		</constructor-arg>
	</bean>

	<bean id="destination" class="com.dianping.swallow.common.message.Destination"
		factory-method="topic">
		<constructor-arg value="songtong" />
	</bean>

	<bean id="producerConfig" class="com.dianping.swallow.producer.ProducerConfig">
		<property name="producerModeString" value="sync" />
		<property name="retryTimes" value="5" />
		<property name="zipped" value="false" />
		<property name="threadPoolSize" value="5" />
		<property name="sendMsgLeftLastSession" value="false" />
	</bean>

</beans>
